.allMoviePage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 8px;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;
   background-image: url("../../../images/background.jpeg");
}


.card{
    width: 25rem;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 20px 20px 20px 20px;
}